<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title>Trip Profile</title>
		
	<body>
		<div class="container">
			<a href='/' class='right'>Logout</a>

			<form action='/destination' method='POST'>
				<h1>You hit the Trips Dashboard</h1>
				Its me!{{request.session.email}}
					<fieldset>
						<legend>Trust me Graham, this would look beautiful!</legend>
					{% for trip in Travel %}
						<h2>{{ trip.destination }}</h2>
						<p>Planned By: {{ trip.planned_trip.name }}</p>
						<p>Trip Plan: {{ trip.plan }}</p>
						<p>Trips Start Date: {{ trip.start_date }}</p>
						<p>Trip End Date: {{ trip.end_date }}</p>
					{% endfor %}
					</fieldset>
				<h3>Other Members Travel Adventures:</h3>
				<ul>
					{% for users in joined %}
					<li>{{ users.name }}</li>
					{% endfor %}
				</ul>
			</form>
			<a href="/travels/add">Add Plan</a>
		</div>
	</body>
</html>